# Ignore everything
*

# Don't ignore .git* files
!.gitignore
!.gitattributes

# Don't ignore catalogues and game system
!*.cat
!*.gst

# Don't ignore docs
!*.md

# Don't ignore github files
!/.github
!/.github/**

# Don't ignore our tests directory
!/tests
!/tests/**

# Don't ignore .yml for CI build definitions
!*.yml

# Don't ignore the PDFs folder so we can keep access to the rules
!/pdfs
!/pdfs/**